.main.container {
	margin-top: 5em;
}
.header.thin-header {
	font-weight: 100;
}
.icon {
	transition: all .2s ease-in-out;
}
.icon:hover {
	transform: scale(2);
}
.main::before {
	content: "";
	background-image: url('../images/background-image.png');
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.1;
}
.ui.segment {
	font-size: 1.2rem;
}
.sidebar {
	margin: 0;
}
.ui.fixed.menu + .ui.grid {
	padding-top: 0;
}
.text {
	font-size: 1.2rem;
	align-content: center;
}
.ui.label > .detail {
	margin-left: 0;
}